# Ignore the venv directory (virtual environment)
venv/

# Ignore the node_modules directory (for Node.js projects)
node_modules/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore other system files
.DS_Store

# Ignore IDE-specific folders (e.g., VSCode)
.vscode/

# Ignore other common unwanted files
*.log
